.menu-bar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #3c3c52;
    color: #fff;
    .user-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}

.heading {
    font-size: 30px;
}

.location-block {
    width: 332px;
    height: 757px;
    border-radius: 10px;
    color: #fff;
    background-color: #313141;
    margin: 0 auto;
}

.dashboard {
    background-color: #272738;
    color: #fff;
}

.search-bar {
    width: 748px;
    height: 53px;
    background-color: #313141;
    border-radius: 38px;
    border: none;
    color: #fff;
}

.viewer-btn {
    width: 148px;
    height: 39px;
    border-radius: 6px;
    background-color: #ffffff;
}

// li{
//     color: #fff;
//     font-weight: bold;
// }

.menu-list {
    li {
        height: 75px;
        color: #fff;
        font-weight: bold;
        link {
            color: #fff;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
    li.active {
        background: #fff;
        color: #272738 !important;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
        link {
            color: #3c3c52;
        }
    }
}