.dashboard {
    background-color: #272738;
    color: #fff;
}

.alert-box {
    background-color: #353545;
}

.inner-alert {
    background-color: #fff;
    color: #272738;
    border-radius: 5px;
}

.next-btn {
    width: 100px;
    background-color: #272738;
}



.toggle-container {
    width: 20rem;
    height: 3rem;
    border: 1px solid #272738;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 2px;
    position: relative;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.21);
}
  
.dialog-button {
    top: 0;
    width: 10rem;
    min-width: unset;
    height: 3rem;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #002b49;
    color: white;
    border-radius: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 10rem;
    transition: all 0.3s ease;
}
  
.disabled {
    background-color: #ececec;
    left: 0px;
    top: 0;
    color: #000;
}